.gameMain {
  display: flex;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.board {
  border: 2px solid black;
  height: 700px;
}
